In [82]:
#Считываем данные в массив:

import pandas
df = pandas.read_csv('./dataset_Facebook.csv', sep = ';')
df = df.dropna(0, how = 'any')

In [79]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [50]:
#Среднее значение для каждого стобца:

df =df.drop(columns=['Type'])
mean_cols = {column: df[column].mean() for column in df}
print mean_cols

{'Category': 1.88, 'comment': 7.482, 'Post Month': 7.038, 'like': 177.94589178356713, 'Total Interactions': 212.12, 'Lifetime Post Consumers': 798.772, 'share': 27.266129032258064, 'Lifetime Post Total Impressions': 29585.948, 'Paid': 0.2785571142284569, 'Lifetime Post Total Reach': 13903.36, 'Lifetime Post Impressions by people who have liked your Page': 16766.376, 'Page total likes': 123194.176, 'Lifetime Engaged Users': 920.344, 'Lifetime People who have liked your Page and engaged with your post': 609.986, 'Lifetime Post Consumptions': 1415.13, 'Post Weekday': 4.15, 'Post Hour': 7.84, 'Lifetime Post reach by people who like your Page': 6585.488}

In [59]:
#Среднее для всего массива:
mean_all= 0
for key, value in mean_cols.iteritems():
    mean_all+= value
    
print mean_all/len(mean_cols)

10790.310032107227

In [83]:
#Максимальное/минимальное для каждого столбца:

df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,4.950000e+02,495.000000,495.000000,495.000000,4.950000e+02,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000
mean,123173.268687,1.886869,7.028283,4.133333,7.844444,0.280808,14028.101010,2.985698e+04,926.830303,804.155556,1425.921212,1.691628e+04,6641.355556,614.135354,7.557576,179.145455,27.264646,213.967677
std,16203.818031,0.853268,3.304274,2.030735,4.385064,0.449849,22821.050008,7.714291e+04,987.713267,885.184440,2007.663460,6.007402e+04,7700.266455,614.346297,21.274384,324.412161,42.656388,381.677449
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.000000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.000000,0.000000,0.000000,0.000000
25%,112324.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3331.000000,5.798000e+03,399.000000,335.000000,512.500000,4.073500e+03,2213.000000,297.500000,1.000000,57.000000,10.000000,72.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5290.000000,9.084000e+03,630.000000,555.000000,861.000000,6.282000e+03,3478.000000,416.000000,3.000000,101.000000,19.000000,125.000000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13248.000000,2.250300e+04,1062.000000,969.000000,1479.000000,1.514300e+04,8018.000000,658.500000,7.000000,188.000000,32.500000,231.000000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.000000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.000000,5172.000000,790.000000,6334.000000

In [88]:
#Для каждого типа отдельно:

df.groupby('Type').describe().unstack(level=0)

                 Type
Category  count  Link       22.000000
                 Photo     421.000000
                 Status     45.000000
                 Video       7.000000
          mean   Link        1.136364
                 Photo       1.926366
                 Status      2.022222
                 Video       1.000000
          std    Link        0.467563
                 Photo       0.884681
                 Status      0.398228
                 Video       0.000000
          min    Link        1.000000
                 Photo       1.000000
                 Status      1.000000
                 Video       1.000000
          25%    Link        1.000000
                 Photo       1.000000
                 Status      2.000000
                 Video       1.000000
          50%    Link        1.000000
                 Photo       2.000000
                 Status      2.000000
                 Video       1.000000
          75%    Link        1.000000
                 Photo       3.000000
                 Status      2.000000
                 Video       1.000000
          max    Link        3.000000
                 Photo       3.000000
                              ...
share     count  Status     45.000000
                 Video       7.000000
          mean   Link       12.909091
                 Photo      27.156770
                 Status     31.422222
                 Video      52.142857
          std    Link       11.751025
                 Photo      44.973104
                 Status     24.272589
                 Video      42.643595
          min    Link        0.000000
                 Photo       0.000000
                 Status      1.000000
                 Video      13.000000
          25%    Link        5.500000
                 Photo      10.000000
                 Status     16.000000
                 Video      13.500000
          50%    Link       10.500000
                 Photo      19.000000
                 Status     28.000000
                 Video      44.000000
          75%    Link       15.000000
                 Photo      32.000000
                 Status     39.000000
                 Video      80.000000
          max    Link       44.000000
                 Photo     790.000000
                 Status    123.000000
                 Video     121.000000
Length: 576, dtype: float64

In [101]:
#Найдем моду для каждого типа:
def mod_table(df) :
    modes = df.mode()
    return modes
from scipy import stats
modes = pandas.DataFrame(df.groupby('Type').apply(mod_table)).fillna("")
df.groupby(['Type']).agg(lambda x: stats.mode(x)[0])

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Type,,,,,,,,,,,,,,,,,,
Link,138353,1,12,6,3,0.0,1536,3094,66,322,26,2307,1180,19,0,12.0,2.0,14
Photo,124940,1,4,7,3,0.0,2232,4372,537,298,431,1284,690,403,0,79.0,14.0,39
Status,139441,2,12,5,10,0.0,3930,7509,128,86,1692,5009,2410,101,2,86.0,1.0,117
Video,137893,1,11,2,11,1.0,13544,30235,459,411,539,21436,9568,363,2,65.0,13.0,81

In [97]:
#Найдем самый популярный объяект в выборке:
#На мой взгляд надо искать наиболее высокую плотность активности за период времени:
from itertools import count, izip

popular = df['Total Interactions'].div(df['Lifetime Post Total Reach'], axis=0)


df.iloc[max(izip(popular, count()))[1]]

Page total likes                                                       137177
Type                                                                    Photo
Category                                                                    3
Post Month                                                                 11
Post Weekday                                                                3
Post Hour                                                                  10
Paid                                                                        0
Lifetime Post Total Reach                                                4012
Lifetime Post Total Impressions                                          7955
Lifetime Engaged Users                                                    550
Lifetime Post Consumers                                                   319
Lifetime Post Consumptions                                                477
Lifetime Post Impressions by people who have liked your Page             4625
Lifetime Post reach by people who like your Page                         2218
Lifetime People who have liked your Page and engaged with your post       403
comment                                                                     3
like                                                                      270
share                                                                      38
Total Interactions                                                        311
Name: 87, dtype: object